#display{
	background-color: #00ffff;
	width: 750px;
	border: 2px solid black;
}

#begin{
	width: 100px;
	height: 50px;
	background: #D3D3D3;
}

#show-time{
	width: 100px;
	height: 50px;
	background: #D3D3D3;
}